*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vw;

    main {
        display: flex;
        width: 80%;
        margin: 0 auto;
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 3rem;
            text-align: center;
        }

        #vrijheid {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 4rem;
                color: green;
                text-align: center;
            }
        }

        #avondklok {
            h1 {
                font-size: 4rem;
                color: red;
                text-align: center;
                margin-top: 3rem;
            }

            h3 {
                font-size: 2rem;
                font-size: black;
                text-align: center;
            }
        }
    }
}
